[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
scipy = "*"
sklearn = "*"
gym = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
keract = ">=4.4.0"
h5py = "==2.10.0"
Keras = ">=2.4.3"
tensorflow = ">=2.4.1"
pyts = ">=0.11.0"
keras-rl2 = "==1.0.4"
pytest = "*"
pytest-benchmark = "*"
wandb = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
