[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keract = ">=4.4.0"
nltk = "*"
scipy = "*"
sklearn = "*"
gym = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
h5py = "==2.10.0"
Keras = "==2.3.1"
tensorflow = "==1.13.1"
keras-rl = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
